.select-me
{
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-box
{

}
.arrow{
    height: 17px;
    width: 18px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../arrow.gif");
}
.right{
    background-position: 0 100%;
    background-position-x: 0px;
    background-position-y: 100%;
}

.left{
    background-position: 0 0;
    background-position-x: 0px;
    background-position-y: 0px;
}
