.avatarparent{
    height: 30vh;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* background: aqua; */
    text-align: center;
}

.avatar{
    height: 100px;
    width: 100px;
}